@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

a {
  transition: all ease 0.3s;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-active {
  transition-delay: 0.3s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

h1,
.brand {
  font-family: "Orbitron", sans-serif;

  small {
    font-family: "Open Sans", sans-serif;
  }
}
